:root { 
    --header-logo: #2196F3; 
    --accent-color: #212121; 
    --logo-color: #000; 
    --aditional-color: #757575; 
    --footer-background: #2F303A; 
    --footer-number: rgba(255, 255, 255, 0.60); 
    --main-background: #FFF; 
    --team-background: #F5F4FA; 
    --title-color: #212121; 
    }
body{
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
}
.header-logo { 
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.logo-span {
    color: var(--header-logo);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.nav-link {
    color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--header-logo);
}
.header-link {
    color: var(--aditional-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.filters-button {
    color: var(--accent-color);
    text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}
.filters-button:hover {
    background-color: var(--header-logo);
}
.portfolio-img {
    width: 370px;
height: 294px;
}
.portfolio-title {
    color: var(--accent-color);
    font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
}
.portfolio-paragraph {
    color: var(--aditional-color);
    font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
} .footer {
    background-color: var(--footer-background);
}
.footer-logo {
    color: var(--logo-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.footer-span {
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.footer-span {
    color: var(--header-logo);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.footer-address {
    color: var(--main-background);
    font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-link {
    color: var(--main-background);
    opacity: 60%;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}