:root { 
    --header-logo: #2196F3; 
    --accent-color: #212121; 
    --logo-color: #000; 
    --aditional-color: #757575; 
    --footer-background: #2F303A; 
    --footer-number: rgba(255, 255, 255, 0.60); 
    --main-background: #FFF; 
    --team-background: #F5F4FA; 
    --title-color: #212121; 
    }
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        /* outline: 1px solid red; */
    }

    .header {
        padding-top: 24px ;
        padding-bottom: 25px ;
    }

    .filters {
        padding-top: 94px ;
        padding-bottom: 94px ;
    }

    .footer {
        padding-top: 60px;
    padding-bottom: 60px;
    }

body{
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
}

/* header */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo { 
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.logo-span {
    color: var(--header-logo);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    position: relative;
}

.nav-item {
    position: relative;
}

.active:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    margin-top: 28px;
    position: absolute;
}

.nav-link {
    color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--header-logo);
}

.active {
    color: var(--header-logo);
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header-item:hover {
    .header-svg {
        fill: #2196F3;
    }
}

.header-link:focus {
    .header-svg {
       fill: #2196F3;
    }
}

.header-link:hover ,
.header-link:focus {
    color: var(--header-logo);
}

.header-link {
    color: var(--aditional-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 10px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg {
fill: #757575;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg:nth-child(1) {
    width: 16px;
    height: 16px;
}

/* filters */

.filters-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filters-button {
    color: var(--accent-color);
    text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
padding: 6px 22px;
border:transparent;
transition-property: color, background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover ,
.filters-button:focus {
    background-color: var(--header-logo);
    color: var(--main-background)
}

.filters-button:hover {
    box-shadow:      0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    background: #FFF;
    flex-basis: calc((100%-60px) / 3);
    transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    .text-overlay {
        opacity: 1;
        transition: transform 0.5s;
        transform: translateY(0);
    }
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    width: 370px;
    width: 100%;
}

.text-overlay {
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.54px;
    position: absolute;
    background: rgba(33, 150, 243, 0.90);
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    padding: 63px 24px;
    transition-property: opacity;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%)
}

.portfolio-box {
    padding: 20px 24px ;
    border: 1px solid #EEE; 
}

.portfolio-title {
    color: var(--accent-color);
    font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.portfolio-paragraph {
    color: var(--aditional-color);
    font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}

/* footer */

.footer-box {
    display:flex;
    justify-content: flex-start;
    gap: 70px;
    align-items: baseline;
}

.footer {
    background-color: var(--footer-background);
}

.footer-logo {
    color: var(--main-background);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-span {
    color: var(--header-logo);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-address {
    color: var(--main-background);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
margin-top: 20px;
margin-bottom: 9px;
font-style: normal;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-link {
    color: var(--footer-number);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footersvg {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.footersvg-title{
color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
margin-bottom: 20px;
}

.footersvg-list {
    display: flex;
    gap: 10px;
}

.footersvg-item:hover {
    .footersvg-link {
        background-color: #2196F3;
    }
}

.footersvg-link:focus {
    background-color: #2196F3;
}

.footersvg-link {
    background-color: #FFFFFF1A;
    border-radius: 50%;
    width: 44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.footersvg-svg {
    width: 20px;
    height: 20px;
    fill: #FFF;
}
