:root { 
    --header-logo: #2196F3; 
    --accent-color: #212121; 
    --logo-color: #000; 
    --aditional-color: #757575; 
    --footer-background: #2F303A; 
    --footer-number: rgba(255, 255, 255, 0.60); 
    --main-background: #FFF; 
    --team-background: #F5F4FA; 
    --title-color: #212121; 
    }
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}

.header {
    padding-top: 24px ;
    padding-bottom: 25px ;
}

.advantages {
    padding-top: 200px;
    padding-bottom: 200px;
}

.features {
    padding-top: 94px;
}

.work {
    padding-top: 118px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 51px;
}

body { 
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
}
/* header */

.header-box {
    display: flex;
    align-items: center;
}

.header-logo { 
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    display: flex;
    margin-right: 93px;
}

.logo-span {
    color: var(--header-logo);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.active {
    color: var(--header-logo);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--header-logo);
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header-link {
    color: var(--aditional-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus{
    color: var(--header-logo);
}

/* advantages */

.advantages {
    text-align: center;
    background-image:linear-gradient( rgba(47, 48, 58, 0.40),  rgba(47, 48, 58, 0.40)), url(../img/advbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advantages-title {
    color: var(--main-background);
    text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.advantages-button {
    color: var(--main-background);
    text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--header-logo);
padding: 10px 32px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
}

/* features */

.features-item:first-child::before {
    content: '';
    display: inline-block;
    height: 120px;
    width: 270px;
    background-image: url(../img/groupone.jpg);
}

.features-item:nth-child(2)::before {
    content: '';
    display: inline-block;
    height: 120px;
    width: 270px;
    background-image: url(../img/grouptwo.png);
}

.features-item:nth-child(3)::before {
    content: '';
    display: inline-block;
    height: 120px;
    width: 270px;
    background-image: url(../img/grouptree.png);
}

.features-item:nth-child(4)::before {
    content: '';
    display: inline-block;
    height: 120px;
    width: 270px;
    background-image: url(../img/groupfour.png);
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-title {
    color: var(--accent-color);
    font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-top: 30px;
margin-bottom: 10px;
}

.features-text {
    color: var(--aditional-color);
    font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

/* work */

.work-list {
    display: flex;
    gap: 30px;
}

.work-item {
    flex-basis: calc((100%-60px) / 3);
}

.work-title {
    color: var(--accent-color);
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.work-img {
width: 100%;
}

/* team */

.team-list {
    display: flex;
    gap: 30px;
}

.team {
    background-color: var(--team-background);
}

.team-item {
    background-color: var(--main-background);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100%-60px) / 3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-title {
    color: var(--accent-color);
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-img {
    width: 100%;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-caption {
    color: var(--accent-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-paragraph {
    color: var(--aditional-color);
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}

/* footer */

.footer {
    background-color: var(--footer-background);
}

.footer-logo {
    color: var(--main-background);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-span {
    color: var(--header-logo);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-address {
    color: var(--main-background);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
margin-top: 20px;
margin-bottom: 9px;
font-style: normal;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-link {
    color: var(--footer-number);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
