.header {
    padding-top: 16px ;
    padding-bottom: 16px ;

    @media screen and (min-width:768px) {
        padding-top: 26px ;
        padding-bottom: 26px ;
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px ;
        padding-bottom: 25px ;
    }

    &__box {
        @include flexbox($justify:flex-start, $wrap:nowrap);
    }

    &__logo { 
        color: $logo-color;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        display: flex;
        margin-right: auto;

        @media  screen and (min-width:768px) {
            margin-right: 88px;
        }

        @media screen and (min-width:1200px) {
            font-size: 26px;
            letter-spacing: 0.78px;
            margin-right: 93px;
        }

    }

    &__button {
        border: none;
        background-color: transparent;

        @media screen and (min-width:768px) {
            display: none;
        }
    }

    &__burger {
        width: 40px;
        height: 40px;
        fill: black;
    }

    &__span {
        color: $header-logo;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        @media screen and (min-width:1200px) {
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__list {
        display: none;
        margin-left: auto;

        @media screen and (min-width:768px) {
            flex-direction: column;
           gap: 10px; 
           display: flex;
        }

        @media screen and (min-width:1200px) {
            flex-direction: row;
            gap: 30px; 
         }
    }

    &__item:hover {
        .header__svg {
            fill: #2196F3;
        }
    }

    &__link {
        color: $aditional-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.24px;
    @include flexbox($justify:flex-start, $wrap:nowrap);
    gap: 10px;
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transition();

    @media screen and (min-width:1200px) {
        font-size: 14px;
        letter-spacing: 0.28px;
    }

    &:hover,
&:focus{
    color: $header-logo;
}

&:focus {
    .header__svg {
       fill: #2196F3;
    }
}

    }

    &__svg {
        fill: #757575;

        &:nth-child(1) {
            width: 16px;
            height: 16px;
        }
        }

    }

.nav {
    &__list {
        display: none;
        gap: 50px;

        @media screen and (min-width:768px) {
            display: flex;
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        color: $accent-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transition();

    &:hover,
&:focus {
    color: $header-logo;
}
    }
}

.active {
    color: $header-logo;
    transition-property: background-color;

    &:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 2px;
        margin-top: 28px;
        position: absolute;
    }
}
// ===========================menu===============================
 
.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $main-background;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 48px 0px 48px 40px;

    @media screen and (min-width:768px){
        display: none;
    }

    &__button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &__close {
        width: 40px;
        height: 40px;
    }

    &__list {
        margin-bottom: 302px;
    }

    &__link {
        color: $accent-color;
font-size: 40px;
font-weight: 500;
line-height: 1.175;
letter-spacing: 0.8px;

&:hover, &:focus{
    color: $header-logo;
}
    }

    &__item:first-child {
        margin-bottom: 35px;
    }
    
    &__item:last-child {
        margin-top: 32px;
    }


    &__list-contact {
        margin-bottom:64px;
    }

    &__item-contact:nth-child(1) {
        color: $aditional-color;
        font-size: 34px;
font-weight: 500;
line-height: 1.16;
letter-spacing: 0.68px;
margin-bottom: 32px;
    }

    &__item-contact:last-child {
        color: $aditional-color;
        font-size: 24px;
font-weight: 500;
line-height: 1.16;
letter-spacing: 0.48px;
    }

    &__contact-link {
        color: $aditional-color;

        &:hover,
        &:focus  {
            color: $header-logo;
        }
    }

    &__contact-link:hover,
    &__contact-link:focus  {
        color: $header-logo;
    }

    &__list-social {
        display: flex;
    }

    &__item-social {
        padding-right: 10px;
        margin-left: 10px;
        border-right: 1px solid #757575 ;
    }

    &__item-social:first-child {
        margin-left: 0px;
    }

    &__item-social:last-child {
        margin-right: 0;
    }

    &__link-social {
        color: $header-logo;
        font-size: 18px;
font-weight: 500;
line-height: 1.22; 
letter-spacing: 0.36px;
    }
}








