.regularclients-title {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.regularclients-list {
    display: flex;
    gap: 30px;
}

.regularclients-link {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
width: 170px;
height: 92px;
display: flex;
justify-content: center;
align-items: center;
}

.regularclients-item:hover {
    .regularclients-svg {
        fill: #2196F3;
    }
    .regularclients-link {
    border-color: #2196F3;
    }
}

.regularclients-link:focus {
    .regularclients-svg {
        fill: #2196F3;
    }
}

.regularclients-link:focus {
    border-color: #2196F3;
}

.regularclients-svg {
    width: 106px;
    height: 60px;
fill: #AFB1B8;
}