body{
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
}
.header_list-item:first-child{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
}
.header_list-item:nth-child(n+2){
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 14px;
}
.footer-link{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
}
.main_item-button{
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px;
}
.main_item-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 18px;
}
.main_item-paragraph{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px
}
.footer_address-link{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}
.footer-address{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}