body{
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
}
.header_list-item:first-child{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
    line-height: 171.3%;
}
.header_list-item:nth-child(n+2){
    font-weight: 500;
    font-size: 14px;
    line-height: 171.2%;
}
.footer-link{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
    line-height: 171.3%;
}
.main_item-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 162.5%;
}
.main_item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
}
.main_item-paragraph{
    line-height: 187.5%;
    font-weight: 400;
    font-size: 16px
}
.footer_address-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 171.4%;
}
.footer-address{ 
    font-weight: 400;
    font-size: 14px;
    line-height: 171.4%;
}