body{ 
    font-family: "Roboto", sans-serif; 
    font-weight: 100; 
  font-style: normal; 
} 
.header_list-item:first-child{ 
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
}
.header_list-item:nth-child(n+2){
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.footer-link{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 26px;
}
.banner-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 900;
    font-size: 44px;
}
.banner-button{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 16px;
}
.features_item-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 14px;
}
.features_item-paragraph{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}
.features_item-paragraph{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}
.images-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 36px;
}
.team-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 36px;
}
.team_item-title{
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px;
}
.team_item-paragraph{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.footer_address-link{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}
.footer-address{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
}
footer{
    background-color: #2F303A ;
}
h1{
    color: aliceblue;
}
section button{
    color: aliceblue;
    background-color: dodgerblue;
}
address a[href="mailto:info@devstudio.com"]
{
    color: #FFFFFF60;

}
address a[href="tel:+38 096 111 11 11"]
{
    color: #FFFFFF60;
}
address{
    color: aliceblue;
}
.ul{
    background-color: aliceblue;
    width: fit-content;
}