@mixin flexbox($justify:center, $align:center, $wrap:wrap, $direction:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin transition($property:color, $duration:250ms, $function:cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $function;
}