    $header-logo: #2196F3; 
    $accent-color: #212121; 
    $logo-color: #000; 
    $aditional-color: #757575; 
    $footer-background: #2F303A; 
    $footer-number: rgba(255, 255, 255, 0.60); 
    $main-background: #FFF; 
    $team-background: #F5F4FA; 
    $title-color: #212121; 